h2 {
    text-align: center;
}
ul {
    list-style-type: circle;
}
img {
    padding: 4px; /* margines wewnętrzny */
    margin: 15px; /* margines zewnętrzny */
}
img:hover {
    padding: 3px; /* zmniejszenie marginesu wewnętrznego */
    border: 1px dashed indigo; /* obramowanie linią kreskową */
}
.home-link {
    padding: 25px;
}
a[href="/strona-glowna"] {
    padding: 25px;
}
